@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  /* fonts */
  --font-family-primary: "Space Grotesk", sans-serif;
  --font-family-mono: monospace;

  /* spacing */
  --spacing-2xs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
  --spacing-2xl: 8rem;

  /* border-radius */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;

  /* font-size */
  --font-size-h1: 4.209rem;
  --font-size-h2: 3.157rem;
  --font-size-h3: 2.369rem;
  --font-size-h4: 1.777rem;
  --font-size-h5: 1.333rem;
  --font-size-h6: 1rem;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-primary);
  font-size: 20px;
}

code {
  font-family: var(--font-family-mono);
}

pre.hljs {
  line-height: 1.5;
  padding: var(--spacing-md);
  border-radius: var(--border-radius-lg);
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding-left: var(--spacing-md);
}

ul ul,
ul ol,
ol ol,
ol ul {
  padding-top: var(--spacing-md);
  padding-left: var(--spacing-lg);
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ul {
  list-style-type: square;
}

p,
li {
  font-size: 1rem;
}

p code,
li code {
  opacity: 0.5;
}

h1 {
  font-weight: 300;
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 500;
  opacity: 0.7;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

.slideshow {
  display: flex;
  padding: var(--spacing-xl) var(--spacing-2xl);
  width: 100vw;
  height: 100vh;
}

.long-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.slideshow__prev,
.slideshow__next {
  position: fixed;
  font-size: 2rem;
  top: 50vh;
  transition: transform 0.25s ease-in-out;
}

.slideshow__prev:visited,
.slideshow__next:visited {
  color: currentColor;
}

.slideshow__prev:hover,
.slideshow__next:hover {
  transform: scale(1.125);
}

.slideshow__prev {
  left: var(--spacing-sm);
}

.slideshow__next {
  right: var(--spacing-sm);
}

.slide__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  padding-top: var(--spacing-lg);
}

.slide__content {
  padding-top: var(--spacing-lg);
}

.slide__animated-slide {
  height: 100%;
  width: 100%;
}

.slide__title-layout {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
